[Unit]
Description=CPU Information
Wants=mapper-wait@-xyz-openbmc_project-inventory.service
After=mapper-wait@-xyz-openbmc_project-inventory.service
After=amd-host-mgr.service

[Service]
ExecStartPre=/bin/sh -c 'while [ ! -f /var/run/apml_comm_active ]; do sleep 1; done'
ExecStart=/usr/bin/cpu-info
Restart=always
RestartSec=10
SyslogIdentifier=cpu-info
Type=simple

[Install]
WantedBy=multi-user.target

